<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.edu.ntu.csie.devicestatus"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/ic_launcher"
        android:label="@string/app_title" android:allowBackup="true">

        <activity android:name="tw.edu.ntu.csie.devicestatus.DeviceStatusActivity"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
